## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
import os

In [2]:
os.getcwd()

'/Users/insiktuser/Desktop/UCB - Analysis Projects/World_Weather_Analysis/Vacation_Itinerary'

In [3]:
import sys

In [4]:
sys.path.append('/Users/insiktuser/Desktop/UCB - Analysis Projects/World_Weather_Analysis')

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv('/Users/insiktuser/Desktop/UCB - Analysis Projects/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Sao Filipe,CV,80.47,overcast clouds,14.90,-24.50,Tortuga B&B
1,4,Bengkulu,ID,84.15,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu
2,6,Avarua,CK,75.20,broken clouds,-21.21,-159.78,Paradise Inn
3,9,Georgetown,MY,84.20,scattered clouds,5.41,100.34,Cititel Penang
4,13,Busselton,AU,86.00,broken clouds,-33.65,115.33,Observatory Guest House

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>and<dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_results = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_results)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [129]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == 'Itupiranga')]
vacation_end = vacation_df.loc[(vacation_df["City"] == 'Itupiranga')]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == 'Urucui')] 
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == 'Itarema')] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == 'Carutapera')]

In [131]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [133]:
end

array([[ -5.13, -49.33]])

In [137]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets


fig = gmaps.figure()

vacation_itinerary = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], 
                                            travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [140]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1 , vacation_stop2 ,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,594,Itupiranga,BR,78.21,broken clouds,-5.13,-49.33,JAIRO ORLINDO VIEIRA
1,359,Urucui,BR,77.34,light rain,-7.23,-44.56,Formula Flat UruÃ§ui
2,91,Itarema,BR,79.86,few clouds,-2.92,-39.92,Windvillage
3,80,Carutapera,BR,75.36,scattered clouds,-1.20,-46.02,Lidera

In [148]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>and<dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [149]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))